<div class="pt-6 mb-24 justify-center ">
    <!-- <div class=" grid grid-cols-3 my-3 mt-4">
        <div class="grid items-center justify-center">
            <img class=" outshadow rounded-full w-20 " src="assets/icons/dog.svg ">
            <span class="text-gray-400 text-xs text-center my-3 font-bold">Perro</span>
        </div>
        <div class="grid items-center justify-center">
            <img class=" outshadow rounded-full w-20 " src="assets/icons/cat.svg ">
            <span class="text-gray-400 text-xs text-center my-3 font-bold">Gato</span>
        </div>
        <div class="grid items-center justify-center">
            <img class=" outshadow rounded-full w-20 " src="assets/icons/store.svg ">
            <span class="text-gray-400 text-xs text-center my-3 font-bold">Tienda Completa</span>
        </div>
    </div> -->

    <div>
        <router-outlet></router-outlet>
    </div>
</div>
