<div class="content content-margintop mb-16">
    <h1 class="font-bold text-2xl text-center mb-4" style="color: #937195">
        <b>  Bienvenido </b>
    </h1>
    <div>
        <div style="box-shadow: inset 0 0 20px #E2DBCA;" class="rounded-3xl py-5 w-full flex justify-center">
            <div>
                <h1 class="text-yellow-500 font-bold text-xl tracking-widest block text-center mb-4">
                    Mis Mascotas
                </h1>
                <app-pets [showAdd]="true"></app-pets>
            </div>
        </div>
    </div>
    <div class="rounded-3xl py-1 mx-12 mt-6 h-2 justify-center box-shadow-base">
    </div>
    <div class="flex justify-center p-6">
        <app-info-home></app-info-home>
    </div>
</div>
