.header {
    background-image: url(~src/assets/bg-main.svg);
    background-repeat: no-repeat;
    background-position: -30px -10px;
    background-size: 120% 120%;
}

.header-normal {
    min-height: 120px;
}

.header-section {
    min-height: 220px;
}