<div>
    <subscription-button class="p-2 bg-blue-400 m-2 inline-block text-gray-100 rounded font-bold" [userID]="userID" [projectID]="projectID" [pathConfirmation]="'/payment/confirm'" [productID]="'prod_NG0dUHT3KrC4Ch'">
        Paquete de 120$ al mes
    </subscription-button>
</div>

<div>
    <subscription-button class="p-2 bg-blue-400 m-2 inline-block text-gray-100 rounded font-bold" [userID]="userID" [projectID]="projectID" [pathConfirmation]="'/payment/confirm'" [productID]="'prod_NIV8Jl5EyDmK7E'">
        Paquete de 300$ al mes
    </subscription-button>
</div>

<div>
    <subscription-button class="p-2 bg-blue-400 m-2 inline-block text-gray-100 rounded font-bold" [userID]="userID" [projectID]="projectID" [pathConfirmation]="'/payment/confirm'" [productID]="'prod_NIV9iMiAOTmhf9'">
        Paquete de 500$ al mes
    </subscription-button>
</div>