<div class="h-screen w-screen fixed top-0 left-0 flex justify-center items-center z-50" style="background-color: #0000005b;">
    <div class="loadingio-spinner-spinner-056zsx93eze">
        <div class="ldio-qr0h5p9x1de">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>