<div>
    <div *ngIf="flag === true || flag === null">
        <cards id="myElement" [projectID]="projectID" [userID]="userID" [email]="email"></cards>
    </div>
    <div *ngIf="flag=== false">
        <div class="content content-margintop rounded-3xl w-full py-4 my-6 justify-center box-shadow-base">
            <div class="p-4 mt-6 text-orange-300 text-lg text-center">
                <span>Sin metodos de pago registrados. </span>
                <div class="flex justify-center items-center my-6">
                    <span>Por favor realiza una compra para registrar un metodo de pago.</span>
                </div>
            </div>
        </div>
    </div>
</div>
